@import '~bootstrap-table/dist/bootstrap-table';

.row-unchecked {
   background-color: #4dffa6;
   color: #000;
}

.row-success {
   background-color: #4dffa6;
   color: #000;
}

.row-danger {
   background-color: #cc0000;
   color: #FFF;
}