{% extends 'base.html.twig' %}

{% block title %}{{ 'title.returns.fileUpload' | trans }}{% endblock %}

{% block body %}
	<main class="container-fluid">
		{{ include ('sicalwin_files/_form.html.twig') }}
	</main>
{% endblock %}